
# Игнорировать ВСЁ в родительской директории
../*

# Исключить саму папку fandom из игнорирования
!../fandom/

# Но потом снова игнорировать всё внутри fandom кроме нужного
../fandom/*


# Стандартные игнорируемые файлы
*.pyc
__pycache__/
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
.env
venv/
env/
.venv
.DS_Store
*.swp
*.swo

# Теперь разрешить все файлы в ТЕКУЩЕЙ директории (кроме игнорируемых выше)
!*

